# Ignore everything by default.
*/

# UNIX
.lesshst
.python_history
.ash_history
.bash_history

# Windows
NTUSER.DAT*
ntuser.ini

# Mac
.DS_Store

# Git
.gitconfig

# Not used
.npmrc

# Config
!.config/
!.config/**

!.local/
# Local shell scripts
#!.local/bin/
#!.local/bin/cmd/
#!.local/bin/cmd/**
#!.local/bin/sh/
#!.local/bin/sh/**
!.local/share/

*.exe

unstaged
unstaged.*
