# Ignore everything by default.
*

# Git
!.gitignore

# Shell
!.profile

# Bash
!.bashrc

# Config
!.config/
.config/user-dirs.dirs

!.local/

# Local shell scripts
!.local/bin/
!.local/bin/cmd/
!.local/bin/cmd/**
!.local/bin/sh/
!.local/bin/sh/**

!.local/share/
