[submodule ".local/share/vim/pack/general/opt/vim-ninja-feet"]
	path = .local/share/vim/pack/general/opt/vim-ninja-feet/vim-ninja-feet
	url = https://git::@github.com/tommcdo/vim-ninja-feet.git
[submodule ".local/share/nvim/pack/general/start/vim-dispatch-neovim"]
	path = .local/share/nvim/pack/general/start/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim
[submodule ".config/nvim/vim-vinegar"]
	path = .config/nvim/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".local/share/vim/pack/dev/start/omnisharp-vim"]
	path = .local/share/vim/pack/dev/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
