# Ignore everything by default.
*

# Git
!.gitignore

# Shell
!.profile

# Bash
!.bash_profile
!.bash_logout

# Config
!.config/

# Local shell scripts
!.local/
!.local/bin/
!.local/bin/*

# !.local/share/vim/pack/**/start/**
# !.local/share/vim/pack/**/opt/**
