[submodule ".local/share/vim/pack/general/opt/vim-better-whitespace"]
	path = .local/share/vim/pack/general/opt/vim-better-whitespace
	url = https://git::@github.com/ntpeters/vim-better-whitespace.git
[submodule ".local/share/vim/pack/general/opt/vim-commentary"]
	path = .local/share/vim/pack/general/opt/vim-commentary
	url = https://git::@github.com/tpope/vim-commentary.git
[submodule ".local/share/vim/pack/general/opt/vim-fugitive"]
	path = .local/share/vim/pack/general/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".local/share/vim/pack/general/opt/vim-ninja-feet"]
	path = .local/share/vim/pack/general/opt/vim-ninja-feet/vim-ninja-feet
	url = https://git::@github.com/tommcdo/vim-ninja-feet.git
[submodule ".local/share/vimcommon/pack/ui/opt/gruvbox-material"]
	path = .local/share/vim/pack/ui/opt/gruvbox-material
	url = https://git::@github.com/sainnhe/gruvbox-material.git
[submodule ".local/share/nvim/pack/general/start/vim-dispatch-neovim"]
	path = .local/share/nvim/pack/general/start/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim
[submodule ".local/share/nvim/pack/development/start/nvim-dap"]
	path = .local/share/nvim/pack/dev/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule ".local/share/nvim/pack/general/start/nvim-comment"]
	path = .local/share/nvim/pack/general/start/nvim-comment
	url = https://github.com/terrortylor/nvim-comment
[submodule ".local/share/nvim/pack/development/opt/vimspector"]
	path = .local/share/vim/pack/dev/opt/vimspector
	url = https://github.com/puremourning/vimspector
[submodule ".config/nvim/vim-vinegar"]
	path = .config/nvim/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".local/share/vim/pack/general/opt/vim-maildir"]
	path = .local/share/vim/pack/general/opt/vim-maildir
	url = https://github.com/ferranpm/vim-maildir
[submodule ".local/share/vimcommon/pack/dev/opt/clang_complete"]
	path = .local/share/vim/pack/dev/opt/clang_complete
	url = https://github.com/xavierd/clang_complete
[submodule ".local/share/vimcommon/pack/dev/opt/swift.vim"]
	path = .local/share/vim/pack/dev/opt/swift.vim
	url = https://github.com/keith/swift.vim
[submodule ".local/share/vimcommon/pack/dev/opt/tagbar"]
	path = .local/share/vim/pack/dev/opt/tagbar
	url = https://github.com/preservim/tagbar
[submodule ".local/share/vimcommon/pack/dev/opt/xcodebuild.vim"]
	path = .local/share/vim/pack/dev/opt/xcodebuild.vim
	url = https://github.com/jerrymarino/xcodebuild.vim
[submodule ".local/share/nvim/pack/dev/opt/nvim-dap-ui"]
	path = .local/share/nvim/pack/dev/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule ".local/share/vimcommon/pack/dev/opt/vim-xcode"]
	path = .local/share/vim/pack/dev/opt/vim-xcode
	url = https://github.com/gfontenot/vim-xcode
[submodule ".local/share/nvim/pack/dev/start/nvim-lspconfig"]
	path = .local/share/nvim/pack/dev/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".local/share/vim/pack/dev/start/omnisharp-vim"]
	path = .local/share/vim/pack/dev/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule ".local/share/vim/pack/dev/opt/vim-cmake"]
	path = .local/share/vim/pack/dev/opt/vim-cmake
	url = https://github.com/cdelledonne/vim-cmake
[submodule ".local/share/vim/pack/dev/opt/vim-msbuild"]
	path = .local/share/vim/pack/dev/opt/vim-msbuild
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule ".local/share/vim/pack/general/opt/vim-fugitive"]
	path = .local/share/vim/pack/general/opt/vim-fugitive
	url = https://github.com/OmniSharp/omnisharp-vim
