EXTERNAL_MENU:http:browser:open %s &:TRUE
# TODO use a common clipboard program
EXTERNAL_MENU:http:copy:echo %s | clip :TRUE
EXTERNAL_MENU:http:video:mpv %s 1>/dev/null & :TRUE
EXTERNAL_MENU:http:videodl:youtube-dl -q --no-warnings %s &:TRUE
EXTERNAL_MENU:http:songdl:songdl %s &:TRUE
EXTERNAL_MENU:http:wget:wget %s &:TRUE

XLOADIMAGE_COMMAND:open %s &

VIEWER:application/postscript:ghostview %s&:XWINDOWS
VIEWER:image/*:open %s&:XWINDOWS
VIEWER:video/*:open %s &:XWINDOWS
