vifm/*
!vifm/vifmrc
!vifm/colorscheme/*

# Yet to understand
git/gitk
git-annex

# Not used much
micro
nushell

# Too specific for general sharing
mpd
inkscape
scoop
openfortivpn
darktable

# XDG violators but useful
mypaint

# XDG violators and not used
configstore
.android
gtk-2.0
gtk-3.0
