# Ignore everything by default.
*

!.gitignore
!X11
!X11
!alacritty/
!alacritty/**
!bash/
!bash/**
!git/
!git/config
!i3
!lynx/
!lynx/lynx.cfg
!lynx/lynx.lss
!nvim
!nvim
!nvim/**
!sh/
!sh/**
!tmux/
!tmux/*
!user-dirs.dirs
!vim/
!vim/**
!wgetrc
