# Ignore everything by default.
*

!.gitignore
!X11
!X11
!alacritty/
!alacritty/**
alacritty/windows.yml
!bash/
!bash/**
!cmd/
!cmd/**
!git/
!git/config
!i3
!lf
!lf/**
!lynx/
!lynx/lynx.cfg
!lynx/lynx.lss
!nvim/
!nvim/**
!sh/
!sh/**
!tmux/
!tmux/*
!user-dirs.dirs
!vim/
!vim/**
!wgetrc
